.login{margin: auto; font-weight: bold; font-family: inherit; font-size: 20px ;color: black ; border: 2px solid gray; width: 40% ;padding: 20px }
#lg_btn{margin: inherit ; text-align: center; background-color: rgb(211, 32, 163) ; border: 1px solid gray; color: black ; }
